#site-navigation {
    background-color: grey;

    button.menu-toggle {
        display: none;
    }

    div#primary-menu {
      width: 100%;
        ul {
            display: flex;
            justify-content: space-around;
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                height: 3em;
                display: flex;
                align-items: center;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
